<%= form_for @building, url: {action: "create"} do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :initials %>
    <%= f.text_field :initials %>
  </p>

  <%= f.submit "Create" %>
<% end %>
